.form__wrapper {
  width: 35rem;
  padding: 1rem 1rem;
  margin: 2rem auto;
  max-width: 80%;
}

.form__items label{
  display: block;
  font-family: sans-serif;
  font-weight: bold;
}

.form__items input {
  width: 100%;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
}
